*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  background-color: white;
}
.header {
  position: relative;
  padding: 1em 1em 0 1em;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.2em;
  background-image: url(assets/images/header.jpg);
  background-position: 50% 55%;
  background-size: cover;
  height: 180px;
}
.header__sup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}
.logo {
  flex: 0 0 40px;
  animation: switch 4s ease-in-out infinite;
}
@keyframes switch {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}
.logo__img {
  max-width: 100%;
}
.nav {
  flex: 3 1 350px;
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: gray;
}
@media (hover: hover) {
  .nav__link:hover {
    color: black;
  }
}

.nav__icon {
  margin-right: 0.4em;
}
.social-media {
  flex: 0 0 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social-media__link {
  color: gray;
}

@media (hover: hover) {
  .social-media__link:hover {
    color: black;
  }
}

.social-media__link:first-child {
  margin-right: 1em;
}
.header__inf {
  height: 30%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  opacity: 0.2;
}
.header__title {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  font-size: 1.3em;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  color: rgb(168, 106, 117);
  text-align: center;
  opacity: 0.8;
  animation: title 4s;
}

@keyframes title {
  0% {
    color: rgb(168, 106, 117);
    font-size: 1.3em;
  }
  50% {
    color: rgb(218, 27, 62);
    font-size: 1.7em;
  }
  100% {
    transform: rgb(168, 106, 117);
    font-size: 1.3em;
  }
}

.main {
  padding-top: 5px;
  padding-bottom: 5px;
  display: grid;
  row-gap: 5px;
  background-color: white;
}

.main__section {
  padding: 5px;
  background-color: rgb(206, 202, 202);
  gap: 10px;
}

.card {
  flex-basis: 100%;
  position: relative;
  padding: 5px;
  background-color: rgb(236, 231, 231);
  color: rgb(59, 58, 58);
}
.card__figure {
  position: relative;
  margin: 0;
}
.card__img {
  height: 250px;
  max-width: 100%;
  object-fit: cover;
}

.card__time {
  position: absolute;
  bottom: 1em;
  left: 0.5em;
  color: rgb(252, 191, 79);
}

.card__title {
  margin-top: 0;
  margin-bottom: 0.3em;
  padding-left: 0.3em;
  padding-top: 0.6em;
  background-color: rgb(238, 133, 150);
  color: white;
}
.card__body {
  padding: 3px;
  columns: 2;
}
.card__text {
  margin-top: 0;
}
.card__link {
  display: block;
  column-span: all;
  margin-top: 1em;
  text-decoration: none;
  color: gray;
}
.main__footer {
  padding: 0.5em;
  grid-column: 1 / 3;
  text-align: center;
}

.aside {
  padding: 10px;
  background-color: rgb(206, 202, 202);
}
.aside__title,
.aside__text {
  text-align: center;
}
.footer {
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(206, 202, 202);
}
.footer__content {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em;
  background-color: rgb(236, 231, 231);
  text-align: center;
}

@media screen and (min-width: 400px) {
  body {
    font-size: 0.7rem;
  }
  .header {
    row-gap: 12px;
  }
  .header__sup {
    flex-wrap: nowrap;
  }
  .main__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .aside {
    row-gap: 12px;
  }
}

@media screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }
  .header,
  .main,
  .footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  .header {
    height: 200px;
  }
  .main {
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
  }
  .card__img {
    height: 285px;
  }
}
